---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE, ROUTERS, WEBSITE_PATHNAME } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href={WEBSITE_PATHNAME.HOME} underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        {
          ROUTERS.map((item, index) => (
            <>
              {index !== 0 && <span>/</span>}
              <Link href={item.PATHNAME}>{item.TITLE}</Link>
            </>
          ))
        }
      </nav>
    </div>
  </Container>
</header>
